<%
=begin%>
 <h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %> 
<%
=end%>

<div class="p-20 h-screen w-screen flex flex-col-reverse md:flex-row items-center justify-center bg-gray-200">
  <div class="content text-3xl text-center md:text-left">
    <h1 class="text-5xl text-purple-500 font-bold">Ywitter</h1>
    <p>Connect with friends and the world around you on Ywitter.</p>
  </div>
  <div class="container mx-auto flex flex-col items-center">
  
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :class => 'shadow-lg w-80 p-4 flex flex-col bg-white rounded-lg' }) do |f| %>
      <h1 class="text-xl text-purple-500 font-bold">Register</h1>
      <br/>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Name', class: 'mb-3 py-3 px-4 border border-gray-400 focus:outline-none rounded-md focus:ring-1 ring-cyan-500' %>
      <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: 'Username', class: 'mb-3 py-3 px-4 border border-gray-400 focus:outline-none rounded-md focus:ring-1 ring-cyan-500' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'mb-3 py-3 px-4 border border-gray-400 focus:outline-none rounded-md focus:ring-1 ring-cyan-500' %>
      
      <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class: 'mb-3 py-3 px-4 border border-gray-400 focus:outline-none rounded-md focus:ring-1 ring-cyan-500' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm Password', class: 'mb-3 py-3 px-4 border border-gray-400 focus:outline-none rounded-md focus:ring-1 ring-cyan-500' %>
      <% if @minimum_password_length %>
      <span class="text-purple-400 text-center my-2">(<%= @minimum_password_length %> characters minimum)</span>
      <% end %>
      
      <div class="actions">
        <%= f.submit "Sign Up", :class=> 'w-full bg-purple-500 text-white p-3 rounded-lg font-semibold text-lg' %>
      </div>
    <% end %>
    
    <span class="text-purple-400 mt-4 mb-2 text-center">Already signed up?</span>
    <h2 class="w-80 bg-gray-500 mb-2 text-white p-3 rounded-lg font-semibold text-lg text-center"><%= link_to "Log in", new_session_path(resource_name)%></h2>

  </div>
</div>
