<p id="notice"><%= notice %></p>
<% @yweets.each do |yweet| %>
  <div class="card" style="width: 18rem; margin-bottom: 1rem;">

    <div class="card-body">
      <%= link_to yweet.user.username, get_user_profile_path(yweet.user), class: "card-subtitle mb-2 text-muted" %>
      <p class="card-text"><%= yweet.yweet %></p>
    </div>

    <div class="card-footer">
      <small class="text-muted"><%= yweet.created_at.strftime("%d/%m/%Y %k:%M") %> <b>Likes:</b> <%= yweet.likes.size %></small>
      <% if user_signed_in? %>
        <% if yweet.likes.where(user_id:current_user.id).empty? %>
          <button class="btn btn-outline-primary btn-sm"> <%= link_to 'Like', like_yweet_path(yweet) %></button>
        <% else %>
          <button class="btn btn-outline-secondary btn-sm"> <%= link_to 'Unlike', unlike_yweet_path(yweet) %></button>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<br>
