<p id="notice"><%= notice %></p>

<p>
  <strong>user:</strong>
  <%= @user.email %>

  <strong>followers:</strong>
  <%= @user.favoritors.size %>
  <strong>followed:</strong>
  <%= @user.all_favorited.size %>


  <% if current_user == @user %>
    <p> Edit profile falan filan</p>
  <% else %>
    <% if current_user.favorited?(@user) %>
      <p>Already followed!</p>
    <% else %>
      <%= link_to 'Follow', follow_user_path, class: "" %>
    <% end %>
  <% end %>
</p>


