<!DOCTYPE html>
<html>
  <head>
    <title>Ywitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%
=begin%>
 <%= render partial: "shared/navbar" %>
<%
=end%>
  <body>
  <%
=begin%>
 <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
    </div>
  </main>
<%
=end%>
<%
=begin%>
 <%= render partial: "shared/leftmenu" %>
<%= yield %>
<%= render partial: "shared/rightmenu" %>
<%
=end%>


        <div class="p-relative h-screen" style="background-color: #15202b">
            <div class="flex justify-center">
                <%= render partial: "shared/leftmenu" %>  

                <main role="main">
                    <div class="flex" style="width: 990px;">
                        <section class="w-3/5 border border-y-0 border-gray-800" style="max-width:600px;">
                            <!--Content (Center)-->
                            <%= yield %>
                        </section>

                        <%= render partial: "shared/rightmenu" %> 
                    </div>
                </main>

            </div>
        </div>

    </body>

    <style>
    
        .overflow-y-auto::-webkit-scrollbar, .overflow-y-scroll::-webkit-scrollbar, .overflow-x-auto::-webkit-scrollbar, .overflow-x::-webkit-scrollbar, .overflow-x-scroll::-webkit-scrollbar, .overflow-y::-webkit-scrollbar, body::-webkit-scrollbar {
        display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .overflow-y-auto, .overflow-y-scroll, .overflow-x-auto, .overflow-x, .overflow-x-scroll, .overflow-y, body {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
        }

        .bg-dim-700 {
        --bg-opacity: 1;
        background-color: #192734;
        }

        html, body {
        margin: 0;
        background-color: #15202b;
        }

        svg.paint-icon {
        fill: currentcolor;
        }

</style>

</html>


